/* tag selector */
h1 {
  color: lawngreen;
}

/* class selector */
.ab {
  background-color: brown;
}
/* id selector */
#head {
  margin: 30px;
}
/* universal selector */
* {
  text-align: center;
}
