.container,
.skills {
  display: flex;
  /* height: 90vh; */
  height: 500px;
  margin-top: 20px;
  margin-bottom: -70px;
}
.navBar {
  /* height: 20%; */
}
.firstDiv {
  width: 60%;
  /* border: 2px solid black; */
  height: 70%;
}
.secondDiv {
  width: 40%;
  /* border: 2px solid black; */
  height: 70%;
}

.firstSkill,
.secondSkill,
.thirdSkill {
  /* border: 2px solid black; */
  width: 100%;
  height: 300px;
}
footer {
  border: 2px solid black;
}
.contact-link {
  text-decoration: none;
  color: black;
}
